/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(19, 19, 52); /* Blue color */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Left Side: Logo */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 3%;
  }
  
  /* Center: User Info */
  .user-info {
    font-size: 1.125rem;
  }
  
  /* Right Side: Cart */
  .cart {
    position: relative;
  }
  
  .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ef4444; /* Red color */
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px; /* Circle */
  }
  
  /* Navbar styles */
  .nav {
    position: absolute;
    top: 50%;
    right: 8rem;
    transform: translateY(-50%);
    display: flex;
    gap: 1rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #3b82f6; /* Light blue on hover */
    border-radius: 0.375rem;
  }
  